{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./app/globals.css",
  "tailwindFunctions": ["cn"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderTypeScriptVersion": "5.0.0",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "trailingComma": "none",
  "printWidth": 80,
  "semi": false,
  "endOfLine": "auto"
}
